* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

/* CSS DE HEADER */
nav {
  background-color: #270570;
  width: 100%;
  height: 60px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-letras {
  line-height: 60px;
  display: flex;
  align-items: center;
}
.icon-logo {
  font-size: 40px;
  color: white;
  font-weight: bold;
  line-height: 60px;
  padding-right: 10px;
}
label.letras-logo {
  font-size: 40px;
  color: white;
  font-weight: bold;
  line-height: 1;
}

nav .container ul {
  float: right;
  display: flex;
  margin-bottom: 0;
}

nav .container ul li {
  display: inline-block;
  line-height: 60px;
}
nav .container ul li a {
  color: white;
  display: flex;
  padding: 0 20px;
}

.icon {
  font-size: 20px;
  color: white;
  padding-right: 5px;
}
/* CSS DE CONTAINER */
.container {
  width: 100%;
  padding: 0 40px;
}

/* CSS DE VIDEO */
.video-container {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: contain;
  position: relative;
  overflow: hidden;
}
.video-container::after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(22, 10, 10, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video {
  object-fit: cover;
  width: 100%;
  height: 101%;
  position: absolute;
  z-index: -1;
}
.video-content {
  z-index: 2;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.video-content > h1 {
  color: white;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
}
.video-content > p {
  color: white;
  font-size: 30px;
  padding-bottom: 0px;
  margin-top: -12px;
}
.flecha-down {
  color: white;
  font-size: 30px;
}

/* CSS DE CARDS */
.place-tittle {
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
}

.container-cards {
  margin-top: 50px;
  padding-bottom: 50px;
}

.card {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.photo {
  width: 100%;
}
.card-content {
  padding: 24px;
  border-bottom: 1px solid #cccccc;
}
.card-content-subtitle {
  color: #666666;
  white-space: nowrap;
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-content-title {
  font-size: 24px;
  line-height: 28px;
  color: #444444;
  font-weight: 700;
}
.card-content-popover-content {
  width: 200px;
}
.ant-popover-content {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.card-footer {
  padding: 24px 24px 5px 24px;
}
.card-footer-inside {
  display: flex;
}
.card-footer-usd {
  padding-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 25px;
  font-weight: 500;
}
.card-footer-number {
  padding-right: 10px;
  font-size: 30px;
  padding-top: 10px;
  font-weight: 500;
}
.reserva-flexible {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #270570;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
}

/* CSS DE banners */

.baners-box {
  margin-bottom: 50px;
}
.tittle-oferts {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 25px;
}
.photo-content {
  position: relative;
  display: inline-block;
  width: 100%;
}
.photo-oferts1 {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 100%;
}

.banner-content {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  padding: 30px 8px 8px 8px;
  width: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.promotion-discount {
  position: absolute;
  color: #ffffff;
  background: #df4249;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: sans-serif;
}

.banner-content-subtitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  color: white;
}
.banner-content-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-transform: capitalize;
  color: white;
}
.photo-content2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.banner-content2 {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  padding: 30px 8px 8px 8px;
  width: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.promotion-discount2 {
  position: absolute;
  color: #ffffff;
  background: #2ebd21;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: sans-serif;
}
.banner-content-subtitle2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: white;
}
.banner-content-title2 {
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: white;
}

.promotion-discount3 {
  position: absolute;
  color: #ffffff;
  background: #0003b4;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: sans-serif;
}
ant-col ant-col-6 {
  padding-left: 0px;
}
